[Unit]
Description=MBS Panel auto update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mbs update
